<header>
  <div class="container">
    <ul>
      <li><%= link_to "Available buses", buses_path %></li>
<!--      <li><%#= link_to "Available Tickets", tickets_path %></li>-->

    </ul>
  </div>
</header>
